
* {
    margin: 0;
    padding: 0;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }
 
 html {
    box-sizing: border-box;
    font-size: 62.5%; }

table {
    min-height: 20rem;
}

form input {
    display: block;
}

.trains-table {
    padding: none !important;
}

h3 {
   background-color: rgba(20, 70, 70, 0.685); 
   padding: none;
}

.header {
    font-size: 20rem;
    height: 10vh;
    background-color: aqua;
   
}